/* CSS Background Effect */

body, html {
    height: 100%;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .bgimg-1 {
    background-image: url("../images/header-image-9.jpg");
    min-height: 100%;
    border-bottom: 8px solid #000;
  }
  
  .bgimg-2 {
    background-image: url("../images/header-image-9.jpg");
    min-height: 500px;
    border-bottom: 8px solid #000;
    border-top: 8px solid #000;
  }

  .bgimg-3 {
    background-image: url("../images/header-image-9.jpg");
    min-height: 500px;
    border-top: 8px solid #000;
    border-bottom: 1px solid #000;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100vw;
    text-align: center;
    font-family: 'Bigelow Rules', cursive;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 8vw;
    letter-spacing: 10px;
  }

  /* Link Fix */

  .anchor {
    display:block;
    height:63px; 
    margin-top:-75px; 
    visibility: hidden;
 }

 /* Background Effect Responsiveness 700px, */
 
 @media screen and (max-width: 700px) {
   .caption {
     top: 48%;
     font-size: 10vw;
     letter-spacing: 5px;
   }

   .bgimg-1 {
     min-height: 90vw;
   }

   .bgimg-2, .bgimg-3 {
     min-height: 70vw;
   }
  }
